.menu, .button{
background:#87CEEB; 
text-align:center; 
color:white; 
} 
.menu:hover{background:#1E90FF;}
.button{
top:0px; 
border-radius: 0 0 20px 20px; 
border-top: solid grey 1px;
border: 1px solid transparent; 
transition: 0.2s;
}
.all
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100px;
}

.all *
{
    background: #35baf6;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 3px;
}
.all input[type=checkbox]
{
    position: absolute;
    opacity: 0;
}
input[type=checkbox] + *
{
    margin-top: -125px;
}

input[type=checkbox]:checked + *
{
    margin-top: 0;
}

.button:hover
{
   box-shadow:1px 1px 2px 2px #ADD8E6 
}

*
{
    margin: 0;
}