.left-side
{
	display: flex;
    border-bottom: 1px solid rgb(20, 23, 28);
    flex-direction: column;    
    min-width: 15em;
    background: #181e2c;
    color: #788097;
}
.border
{
    display: flex;
    background: rgb(31, 38, 56);
    flex-direction: column;
}

.border + .border
{
    margin-top: 0.2em;
}