.search
{
    display: flex;
    margin-right: 2em;
}
.search1
{
    border-radius: 1em;
    border: 1px solid #788097;
    padding: 0.5em;
    margin: 0 1em;
    width: 20em;
}
.search-pict
{
    margin-left: -2.5em;
    margin-top: auto;
    margin-bottom: auto;
}
@media screen and (max-width: 1200px)
{
    .search1
    {
        width: 10em;
    }
}